.heading{
  background-color:black;
  margin:auto;
  color:white;
  height:70px;
  width:730px;
  font-size:30px;
  text-align:center;
}
.body{
width:820px;
height:auto;
color:blue;
text-align:center;
}
.web{
margin:auto;
width:900px;
background-image:URL(Img/Back.jpg);
}

img{
	border:0px;
}